
/*-------------------------------------*\
      #MIXINS
\*-------------------------------------*/

// Border radius mixin
// Set border radius for an element
@mixin borderRadius($sizing) {
  -webkit-border-radius: $sizing;
  -moz-border-radius: $sizing;
  -ms-border-radius: $sizing;
  border-radius: $sizing;
}

// Box shadow mixin
// Set box shadow for an element
@mixin boxShadow($sizing...) {
  -webkit-box-shadow: $sizing;
  -moz-box-shadow: $sizing;
  -ms-box-shadow: $sizing;
  box-shadow: $sizing;
}

// Box sizing mixin
// Set box sizing for an element
@mixin boxSizing($sizing) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}

// Clearfix hack mixin
// Add clearfix hack - to contain floats within containers
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

//transition mixin
@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

//transform mixin
@mixin transform($transform...) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin center($position) {

  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


//display flex mixin
@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//display inline-flex mixin
@mixin display-inline-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
}

//justify content mixin
@mixin justify-content($flex) {
  -webkit-justify-content: $flex;
  justify-content: $flex;
}

//align items mixin
@mixin align-items($flex) {
  -webkit-align-items: $flex;
  align-items: $flex;
}

//flex-flow mixin
@mixin flex-flow($flex...) {
  -webkit-flex-flow: $flex;
  flex-flow: $flex;
}

//flex mixin
@mixin flex($flex...) {
  -webkit-flex: $flex;
  flex: $flex;
}
