.c-assessment-navigation{
  display: table;
  padding: 2rem 3rem 3rem;

  .c-button-slot {
    display: table-cell;
    padding-left: 1.5em;
  }

  .c-button-slot:first-child {
    padding-left: 0;
    width: 100%;
  }
}

.c-btn{
  padding: 0 1.5rem;
  height: 3.5rem;
  border-radius: $radius;
  border-width: 0.2rem;
  border-style: solid;
  text-transform: uppercase;
  @include bold;
  font-size: 1.4rem;
  position: relative;
  white-space: nowrap;

  &[disabled] {
    visibility: hidden;
    @include transition(all 0s);
    * {
      @include transition(all 0s);
    }
  }

  span{
    display: inline-block;
    height: 100%;
    line-height: 3rem;
    @include transition(all 0.1s ease);
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: .3rem;

    path{
      @include transition(all 0.2s ease);
    }
  }
}

  a.c-btn--previous, .c-btn--previous{
    background: $btn-secondary-background;
    color: $btn-secondary-text;
    border-color: $btn-secondary-border;
    @include transition(all 0.2s ease);

    &:hover{
      border-color: $btn-secondary-border-hover;
      background: $btn-secondary-background-hover;
      color: $btn-secondary-text-hover;

      svg path{
        fill: $btn-secondary-text-hover;
      }
    }

    svg {
      path{
        fill: $btn-secondary-text;
      }
    }
  }

  a.c-btn--next, .c-btn--next{
    &:hover{
      svg path{
        fill: $btn-primary-text-hover;
      }
    }

    svg {
      path{
        fill: $btn-primary-text;
      }
    }
  }

  [dir="ltr"] .c-btn--previous{
    padding-left: 3rem;
    svg {
      left: .3rem;
      @include transform(rotate(90deg));
    }
  }

  [dir="ltr"] .c-btn--next{
    padding-right: 3rem;
    svg {
      right: .3rem;
      @include transform(rotate(-90deg));
    }
  }

  [dir="rtl"] .c-btn--previous{
    padding-right: 3rem;
    svg {
      right: .3rem;
      @include transform(rotate(-90deg));
    }
  }

  [dir="rtl"] .c-btn--next{
    padding-left: 3rem;
    svg {
      left: .3rem;
      @include transform(rotate(90deg));
    }
  }


  a.c-btn--check-answer, .c-btn--check-answer,
  a.c-btn--finish, .c-btn--finish,
  a.c-btn--next, .c-btn--next{
    background: $btn-primary-background;
    color: $btn-primary-text;
    border-color: $btn-primary-border;
    @include transition(all 0.2s ease);

    &:hover{
      border-color: $btn-primary-border-hover;
      background: $btn-primary-background-hover;
      color: $btn-primary-text-hover;
    }
  }

  a.c-btn--loading, .c-btn--loading{
    background: $btn-primary-background-hover;
    border-color: $btn-primary-border-hover;
    pointer-events: none;

    span{
      opacity: 0;
    }
    svg{
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      animation: spin 0.5s linear infinite;
      -webkit-animation: spin 0.5s linear infinite;

      path{
        fill: $accent;
      }
    }
  }

@keyframes spin {
  0%{
    @include transform(translate(-50%, -50%) rotate(0));
  }
  100%{
    @include transform(translate(-50%, -50%) rotate(360deg));
  }
}
