.c-question-prompt{
  padding: 2rem 3rem 2rem;
  @include semi-bold;
  font-size: 1.8rem;
  color: $text-color;

  & > *{
    margin-bottom: 1rem;
  }

  img{
    display: inline-block;
    max-width: 30rem;
  }

  audio{
    width: 100%;
  }

  .c-playback{
    display: inline-block;
    width: 2.4rem;
    min-height: 0.1rem;
    padding-right: 0.5rem;
    position: relative;
    margin: 0;

    svg{
      position: absolute;;
      top: -1.8rem;
      width: 2.4rem;
      height: 2.4rem;

      path{
        fill: $gray;
      }
    }
  }
}

.c-video{
  width: 15rem;
  height: 9rem;
  background: $video-link-background;
  border-radius: $radius;
  display: inline-block;
  position: relative;
  @include transition(all .2s ease);

  &:after{
    content: '';
    width: 0;
    height: 0;
    border-width: 2rem 0 2rem 3.5rem;
    border-style: solid;
    border-color: transparent transparent transparent $video-link-icon;
    position: absolute;
    @include center(both);
  }

  &:hover{
    background: darken($video-link-background, 10%);
  }
}
