.c-assessment-navigation{
  padding: 2rem 3rem 3rem;
}

.c-btn{
  display: inline-block;
  padding: 0 1.5rem;
  height: 3.5rem;
  border-radius: $radius;
  text-transform: uppercase;
  @include bold;
  font-size: 1.4rem;

  span{
    display: inline-block;
    height: 100%;
    // position: relative;
    // @include center(vertical);
    line-height: 3rem;
  }
}

  a.c-btn--previous, .c-btn--previous{
    background: $white;
    color: $purple;
    border: 0.2rem solid $purple;
    @include transition(all 0.2s ease);
    position: relative;
    padding-left: 3rem;

    &:hover{
      background: $purple;
      color: $white;

      svg path{
        fill: $white;
      }
    }

    svg {
      @include transform(rotate(90deg));
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: .3rem;
      top: .3rem;

      path{
        fill: $purple;
        @include transition(all 0.2s ease);
      }
    }
  }

  a.c-btn--next, .c-btn--next{
    background: $maroon;
    color: $white;
    border: 0.2rem solid $maroon;
    @include transition(all 0.2s ease);
    position: relative;
    padding-right: 3rem;
    float: right;

    &:hover{
      background: $white;
      color: $maroon;

      svg path{
        fill: $maroon;
      }
    }

    svg {
      @include transform(rotate(-90deg));
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      right: .3rem;
      top: .3rem;

      path{
        fill: $white;
        @include transition(all 0.2s ease);
      }
    }
  }

  a.c-btn--check-answer, .c-btn--check-answer, a.c-btn--finish, .c-btn--finish{
    background: $maroon;
    color: $white;
    border: 0.2rem solid $maroon;
    float: right;
    @include transition(all 0.2s ease);

    &:hover{
      background: $white;
      color: $maroon;
    }
  }
