// Colors
$white: #ffffff;
$black: #000000;

$purple: #4C4085;
$purple2: #615696;
$maroon: #912A7D;
$blue: #4F7DB2;
$blue2: #6393C9;
$green: #2BAB6D;
$red: #D04545;

$gray1: #FAFAFA;
$gray2: #f5f5f5;
$gray3: #e5e5e5;
$gray4: #CCCCCC;
$gray5: #A9A9A9;
$gray8: #989898;
$gray9: #818181;
$gray10: #777777;

$text-color: #333333;
$text-alt: #757575;

$radius: 3px;
