.au-c-header{
  background: $white;
  box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.15);
}

  .au-c-header-top{
    height: 6rem;
    background: $white;
    padding: 0 2rem;
    @include display-flex;
    @include align-items(center);
  }

    .au-c-logo{
      height: 3.4rem;
    }

  .au-c-header-bottom{
    height: 5rem;
    border-top: $border;
    padding: 0 2rem;
    background-color: $gray1;
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
  }

    .au-c-header-bottom__right, .au-c-header-bottom__left{
      @include display-flex;
      @include align-items(center);
    }

      .au-c-breadcrumb__divider{
        @include regular;
        font-size: 1.6rem;
        color: $gray8;
      }
