.c-input{
  position: relative;
  width: 100%;
}

.c-input--inline{
  display: inline-block;
  width: auto;
}

  .c-input__contain{
    @include flex(1);
  }

.c-text-input{
  width: 100%;
  color: $text-color;
  border: none;
  border-top: 0.1rem solid $white;
  background: none;

  &:focus{
    outline: none;

    & + .c-input__bottom{
      border-color: $blue;
      background: $blue;
    }
  }
}

.c-input__bottom{
  height: 0.2rem;
  background: none;
  border-top: $border;

  &.no-border{
    border-top: none;
  }
  &.has-error{
    border-color: $red;
  }
}

.c-text-input--large{
  font-size: 3rem;
  @include semi-bold;
}

.c-text-input--medium{
  font-size: 2rem;
  @include semi-bold;
}

.c-text-input--small{
  height: 3.5rem;
  font-size: 1.6rem;
  @include semi-bold;
}

.c-text-input--smaller{
  height: 3rem;
  font-size: 1.2rem;
  @include semi-bold;
}

.c-wysiwyg{
  &:focus{
    border-top: $border;
  }
}

.c-input-label--left{
  @include display-flex;
  @include align-items(center);
  @include semi-bold;
  color: $text-alt;
  font-size: 1.2rem;
  min-width: 25rem;

  .c-input__contain{
    margin-left: 1rem;
  }
}

.c-input-label--top{
  @include semi-bold;
  color: $text-alt;
  font-size: 1.2rem;
  min-width: 25rem;
  height: 1.7rem;

  .c-input__contain, select{
    margin-top: 0.5rem;
  }
}

.c-input-label--large{
  font-size: 1.6rem;
}

.c-dropdown{
  min-width: 20rem;
  position: relative;

  select{
    border: none;
    background-color: $gray2;
    @include semi-bold;
    color: $text-color;
    -webkit-appearance: none;
    height: 3rem;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
  }

  &:before{
    content: "\E5C5";
    font-family: 'Material Icons';
    font-size: 2rem;
    color: $text-color;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    pointer-events: none;
  }
}

.c-dropdown--small select{
  font-size: 1.2rem;
  padding: 0 1rem;
}

.c-dropdown--medium {
  select{
    height: 4rem;
    font-size: 1.6rem;
    padding: 0 2rem;
  }
  &:before{
    top: 1rem;
    right: 2rem;
  }
  &.c-input-label--top:before{
    top: 3.2rem;
    right: 1.5rem;
  }
}

.c-checkbox{

  label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    @include semi-bold;
    font-size: 1.2rem;
    color: $text-color;
    padding-left: 2.7rem;
    height: 2rem;
    line-height: 2rem;
    min-width: 3rem;
  }

  input[type="checkbox"] + label:before{
    content: "\E835";
    color: $gray8;
    font-size: 2rem;
    font-family: 'Material Icons';
    font-weight: normal;
    position: absolute;
    line-height: 1;
    top: 0;
    left: 0;
  }

  input[type="checkbox"]:checked + label:before{
    content: "\E834";
    color: $blue;
  }

  input:focus + label{
    outline: thin dotted;
  }

  input{
    opacity: 0;
    margin: 0;
    height: 0.01rem;
    width: 0.01rem;
    position: absolute;
  }
}

.c-radio{

  label{
    min-width: 3rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    @include semi-bold;
    font-size: 1.2rem;
    color: $text-color;
    padding-left: 2.7rem;
    height: 2rem;
    line-height: 2rem;
  }

  input[type="radio"] + label:before{
    content: "\E836";
    color: $gray8;
    font-size: 2rem;
    font-family: 'Material Icons';
    font-weight: normal;
    position: absolute;
    line-height: 1;
    top: 0;
    left: 0;
  }

  input[type="radio"]:checked + label:before{
    content: "\E837";
    color: $blue;
  }

  input:focus + label{
    outline: thin dotted;
  }

  input{
    opacity: 0;
    margin: 0;
    height: 0.01rem;
    width: 0.01rem;
    position: absolute;
  }
}

.c-answer{

  .c-checkbox, .c-radio{
    position: absolute;
    left: -4rem;
    top: 0.2rem;
    height: 3rem;
    width: 3rem;

    label{
      padding: 0;
      height: 3rem;
      line-height: 3rem;
    }
  }

  .c-radio{

    input[type="radio"] + label:before{
      font-size: 3rem;
    }

    input[type="radio"]:checked + label:before{
      color: $green;
    }
  }

  .c-checkbox{

    input[type="checkbox"] + label:before{
      font-size: 3rem;
    }

    input[type="checkbox"]:checked + label:before{
      color: $green;
    }
  }
}
