.au-c-answer{
  padding: 0.75rem 5.5rem;
  background: $white;
  box-shadow: 0 0 0.6rem rgba(0,0,0,0.3);
  min-height: 5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover{
    .au-c-answer__icons .au-c-answer__icons__spacer:last-of-type i{
      display: inline-block;
    }

    .au-c-input__bottom.no-border{
      background: $gray5;
    }
  }

  &.is-ordered{
    padding-right: 5.5rem;

    .au-c-answer__icons{
      width: 3rem;
      right: -4rem;
    }
  }

  .au-c-answer__icons{
    position: absolute;
    width: 11rem;
    height: 3rem;
    right: -12rem;
    top: 0.2rem;
    cursor: pointer;

    i{
      display: none;
      font-size: 3rem;
      color: $gray8;

      &:hover{
        color: $blue;
      }
    }
  }

    .au-c-answer__icons__spacer{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      display: inline-block;
      border: none;
      background: none;
      padding: 0;

      &.inactive{
        pointer-events: none;
      }

      &:last-of-type{
        margin: 0;
        i{
          color: $gray4;

          &:hover{
            color: $text-color;
          }
        }
      }
    }

  &.is-active{
    .au-c-answer__icons i{
      display: inline-block;
    }
    .au-c-input__bottom.no-border{
      border-top: $border;
    }
  }
}

.au-c-answer--delete{
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

  i{
    font-size: 3rem;
    color: $gray4;

    &:hover{
      color: $blue;
    }
  }
}

.au-c-answer--add{
  box-shadow: none;
  min-height: 5rem;
  margin-bottom: 0;
  border: 0.2rem dashed $gray4;

  &:hover{

    .au-c-input .au-c-text-input{
      color: $text-color;
    }

    .au-c-radio{

      input[type="radio"] + label:before{
        color: $gray8;
      }
    }

    .au-c-checkbox{

      input[type="checkbox"] + label:before{
        color: $gray8;
      }
    }
  }

  .au-c-input{
    pointer-events: none;

    .au-c-text-input{
      color: $text-alt;
      @include transition(color 0.1s ease);
    }
    .au-c-input__bottom{
      background: none;
    }
  }

  .au-c-radio{

    input[type="radio"] + label:before{
      color: $gray4;
      @include transition(color 0.1s ease);
    }
  }

  .au-c-checkbox{

    input[type="checkbox"] + label:before{
      color: $gray3;
      @include transition(color 0.1s ease);
    }
  }
}
