.c-answer{
  padding: 0.75rem 5.5rem;
  background: $white;
  box-shadow: 0 0 0.6rem rgba(0,0,0,0.15);
  min-height: 5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover{
    .c-answer__icons .c-answer__icons__spacer:last-of-type i{
      display: inline-block;
    }

    .c-input__bottom{
      border-top: $border;
    }
  }

  .c-answer__icons{
    position: absolute;
    width: 11rem;
    height: 3rem;
    right: -12rem;
    top: 0.2rem;
    cursor: pointer;

    i{
      display: none;
      font-size: 3rem;
      color: $gray8;

      &:hover{
        color: $blue;
      }
    }
  }

    .c-answer__icons__spacer{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      display: inline-block;
      border: none;
      background: none;
      padding: 0;

      &:last-of-type{
        margin: 0;
        i{
          color: $gray4;

          &:hover{
            color: $text-color;
          }
        }
      }
    }

  .c-feedback{
    display: none;
  }

  &.is-active{
    .c-feedback{
      @include display-flex;
    }
    .c-answer__icons i{
      display: inline-block;
    }
  }
}

.c-answer--add{
  box-shadow: none;
  min-height: 5rem;
  margin-bottom: 0;
  border: 0.2rem dashed $gray3;

  &:hover{

    .c-input .c-text-input{
      color: lighten($gray8, 10%);
    }

    .c-radio{

      input[type="radio"] + label:before{
        color: $gray8;
      }
    }

    .c-checkbox{

      input[type="checkbox"] + label:before{
        color: $gray8;
      }
    }
  }

  .c-input{
    pointer-events: none;

    .c-text-input{
      color: $gray4;
      @include transition(color 0.1s ease);
    }
  }

  .c-radio{

    input[type="radio"] + label:before{
      color: $gray3;
      @include transition(color 0.1s ease);
    }
  }

  .c-checkbox{

    input[type="checkbox"] + label:before{
      color: $gray3;
      @include transition(color 0.1s ease);
    }
  }
}
