.c-assessment-top{
  background-color: $white;
}

.c-assessment-title{
  padding: 3rem 2.5rem 4rem;
}

.c-question-settings{
  display: none;
  height: 5rem;
  padding: 0 2.5rem;
  border-bottom: $border;
  @include align-items(center);
  @include justify-content(space-between);
}

  .c-question__number{
    color: $text-color;
    margin: none;
    @include semi-bold;
    font-size: 1.2rem;
  }

  .c-question__type{
    color: $text-alt;
  }

.c-question-icons button {
  display: none;
}

.c-question-icons i{
  width: 3rem;
  height: 3rem;
  border-radius: $radius;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: $gray9;
  cursor: pointer;

  &:hover{
    color: $text-color;
  }
}

.c-question-icons .c-btn--square{
  margin-left: 0.5rem;
  padding: 0;
}

.c-question-icons--reorder {
  i{
    display: block;
    background: $blue2;
    color: $white;

    &:hover{
      background: darken($blue2, 20%);
      color: $white;
    }
  }

  button{
    display: block;
    margin-left: 0.5rem;

    &.is-hidden {
      display: none;
    }
  }
}

.c-question{

  &.is-active{
    .c-question__answers{
      margin-bottom: 2.5rem;
    }
    .c-question-settings{
      @include display-flex;
    }
    .c-question-icons button{
      display: inline-block;
    }
    .c-question__feedback{
      display: block;
    }
  }

  &.reorder-active{
    .o-item__top{
      background-color: $blue;
    }
    .c-question__number, .c-question__type{
      color: $white;
    }
  }
}

  .c-question__text{
    &:hover .c-input__bottom{
      border-top: $border;
    }
  }

  .c-question__content {
    padding: 3rem 2.5rem 4rem;

    &.is-reordering {
      pointer-events: none;
    }
  }

  .c-question__answers{
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .c-question__answers--maintain{
    .c-answer{
      padding-right: 13.5rem;
    }
  }

    .c-question__feedback{
      display: none;
    }


.c-question-add{
  display: block;
  margin: 2rem 2rem 0;
}

  .c-question-add__button{
    display: block;
    width: 100%;
    background: none;
    text-align: center;
    @include transition(background 0.1s ease, transform 0.1s ease);
    cursor: pointer;
    border: 0.2rem dashed $gray4;
    border-image: url('../../assets/_author/images/border.png') 2 round;
    @include semi-bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $text-color;
    padding: 1.5rem;

    &:hover{
      background: $gray1;
    }
    &:active{
      @include transform(scale(0.99));
    }
  }

  .c-question-add__buttons{
    margin-top: 3rem;
  }
