.c-assessment-top{
  background-color: $white;
}

.c-assessment-title{
  padding: 3rem 2.5rem 4rem;
}

.c-question-settings{
  display: none;
  height: 5rem;
  padding: 0 2.5rem;
  border-bottom: $border;
  @include align-items(center);
  @include justify-content(space-between);
}

  .c-question__number{
    color: $text-color;
  }

  .c-question__type{
    color: $text-alt;
  }

.c-question-icons i{
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: $radius;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: $gray9;
  cursor: pointer;

  &:hover{
    color: $text-color;
  }
  &:active{
    @include transform(scale(0.95));
  }
}

.c-question-icons--reorder {
  i{
    display: block;
    background: $blue2;
    color: $white;

    &:hover{
      background: darken($blue2, 20%);
      color: $white;
    }
  }

  button{
    margin-left: 0.5rem;
  }
}

.c-question{

  &.is-active{
    .c-question__answers{
      margin-bottom: 2.5rem;
    }
    .c-question-settings{
      @include display-flex;
    }
    .c-question-icons i{
      display: inline-block;
    }
    .c-question__feedback{
      display: block;
    }
  }

  &.reorder-active{
    .o-item__top{
      background-color: $blue;
    }
    .c-question__number, .c-question__type{
      color: $white;
    }
  }
}

  .c-question__text{
    &:hover .c-input__bottom{
      border-top: $border;
    }
  }

  .c-question__content {
    padding: 3rem 2.5rem 4rem;
  }

  .c-question__answers{
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .c-question__answers--maintain{
    .c-answer{
      padding-right: 13.5rem;
    }
  }

    .c-answer{
      padding: 0.75rem 5.5rem;
      background: $white;
      box-shadow: 0 0 0.6rem rgba(0,0,0,0.15);
      min-height: 5rem;
      margin-bottom: 1rem;
      cursor: pointer;

      &:hover{
        .c-answer__icons .c-answer__icons__spacer:last-of-type i{
          display: inline-block;
        }

        .c-input__bottom{
          border-top: $border;
        }
      }

      .c-answer__icons{
        position: absolute;
        width: 11rem;
        height: 3rem;
        right: -12rem;
        top: 0.2rem;
        cursor: pointer;

        i{
          display: none;
          font-size: 3rem;
          color: $gray8;

          &:hover{
            color: $blue;
          }
        }
      }

        .c-answer__icons__spacer{
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
          display: inline-block;
          border: none;
          background: none;

          &:last-of-type{
            margin: 0;
            i{
              color: $gray4;

              &:hover{
                color: $text-color;
              }
            }
          }
        }

      .c-feedback{
        display: none;
      }

      &.is-active{
        .c-feedback{
          @include display-flex;
        }
        .c-answer__icons i{
          display: inline-block;
        }
      }
    }

    .c-answer--add{
      box-shadow: none;
      min-height: 5rem;
      margin-bottom: 0;
      border: 0.2rem dashed $gray3;

      &:hover{

        .c-input .c-text-input{
          color: lighten($gray8, 10%);
        }

        .c-radio{

          input[type="radio"] + label:before{
            color: $gray8;
          }
        }

        .c-checkbox{

          input[type="checkbox"] + label:before{
            color: $gray8;
          }
        }
      }

      .c-input{
        pointer-events: none;

        .c-text-input{
          color: $gray4;
          @include transition(color 0.1s ease);
        }
      }

      .c-radio{

        input[type="radio"] + label:before{
          color: $gray3;
          @include transition(color 0.1s ease);
        }
      }

      .c-checkbox{

        input[type="checkbox"] + label:before{
          color: $gray3;
          @include transition(color 0.1s ease);
        }
      }
    }

    .c-question__feedback{
      display: none;
    }


.c-question-add{
  display: block;
  margin: 2rem 2rem 0;
}

  .c-question-add__button{
    display: block;
    width: 100%;
    background: none;
    text-align: center;
    @include transition(all 0.1s ease);
    cursor: pointer;
    border: 0.2rem dashed $gray4;
    border-image: url('../../assets/_author/images/border.png') 2 round;
    @include semi-bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $text-color;
    padding: 1.5rem;
    outline: none;

    &:hover{
      background: $gray1;
    }
    &:active{
      @include transform(scale(0.99));
    }
  }

  .c-question-add__buttons{
    margin-top: 3rem;
  }
