.u-ml-md{
  margin-left: 2rem !important;
}

.u-mt-md{
  margin-top: 2rem !important;
}


.u-ml-sm{
  margin-left: 1rem !important;
}

.u-mt-sm{
  margin-top: 1rem !important;
}


.u-right{
  margin-left: auto !important;
}
