.author--u-ml-md{
  margin-left: 2rem !important;
}

.author--u-mt-md{
  margin-top: 2rem !important;
}


.author--u-ml-sm{
  margin-left: 1rem !important;
}

.author--u-mt-sm{
  margin-top: 1rem !important;
}


.author--u-right{
  margin-left: auto !important;
}

*:focus {
  outline: thin dotted;
}
