<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Assessments</title>
    <meta name="description" content="Open Assessments">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      window.DEFAULT_SETTINGS = {
        user_id      : 0,
        max_attempts : 1,
        eid          : "external_identifier",
        api_url      : "http://localhost:8091/api/v1/",
        bank:          "assessment.Bank%3A57bd3759ed849b0ea3b6fdfd%40ODL.MIT.EDU",
        assessment_offered_id: "assessment.AssessmentOffered%3A57c861b3ed849b60c7b2dff5%40ODL.MIT.EDU",
        assessment_kind: "SUMMATIVE",
        questions_per_section:1,
        questions_per_page:1,
        unlock_next: "ON_CORRECT",
        locale: "en",
        audio_recorder_timeout: 100,
      };
      window.DEFAULT_JWT = null;
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script src="MathJax/MathJax.js?config=TeX-MML-AM_HTMLorMML.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('./partials/_header.html') %>
    <%- content %>
    <%- include('./partials/_google_analytics.html') %>
  </body>
</html>
