<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Assessments</title>
    <meta name="description" content="Open Assessments">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      window.DEFAULT_SETTINGS = {
        user_id      : 0,
        max_attempts : 1,
        eid          : "external_identifier",
        api_url      : "https://qbank-clix-dev.mit.edu/api/v1/",
        bank:          "assessment.Bank%3A579b90aec89cd97d4cffa13a%40ODL.MIT.EDU",
        assessment_offered_id: "assessment.AssessmentOffered%3A57a0bab7c89cd93aee97b21e%40ODL.MIT.EDU",
        assessment_kind: "SUMMATIVE",
        questions_per_section:1,
        questions_per_page:1,
        unlock_next: "ON_CORRECT",
        locale: "en",
        audio_recorder_timeout: 100,
      };
      window.DEFAULT_JWT = null;
    </script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('./partials/_header.html') %>
    <%- content %>
    <%- include('./partials/_google_analytics.html') %>
  </body>
</html>
