@import 'html5reset.css' screen;
@import 'responsive.css' screen;
@import 'fonts.css' screen;
@import 'video-js.css' screen;
@import 'videojs-skin-colors.css' screen;

*, *:after, *:before {
  box-sizing: border-box;
  }

  body {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
}

h1, h2, h3, h4,  h5,  h6 {
  font-family: 'open_sanslight', Arial, sans-serif;;
  font-weight: normal;
  color: #4a4a4a;
  color: var(--greyish-brown);
}



/* Color palette */

:root {
  --white: #ececec;
  --berry: #a61680;
  --french-blue: #4671a6;
  --white-three: #ffffff;
  --cool-blue: #5387c6;
  --blueberry: #573d8f;
  --dark-hot-pink: #e5007e;
  --white-two: #dddddd;
  --greyish-brown: #4a4a4a;
  --warm-grey: #777;
  --white-four: #f7f6f6;
}

/* Text styles */

h1 {
  margin-top: 3px;font-family: varela_round_regular;
  font-size: 2.5em;
  letter-spacing: -1.2px;
  color: #a61680;
  color: var(--berry);
}

h2 {
  margin: 25px 0 5px;
  font-family: open_sanslight;
  font-size: 1.75em;
  line-height: 1.1;
  letter-spacing: -0.1px;
}

h3 {
  margin: 20px 0 5px;
  font-family: open_sanslight;
  font-size: 1.25em;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

h4 {
  margin: 18px 0 5px;
  font-family: open_sansregular;
  font-size: 1.125em;
  letter-spacing: -0.6px;
}

h5 {
  margin: 15px 0 5px;
  font-family: open_sansregular;
  font-size: 1em;
  letter-spacing: -0.5px;
}

h6 {
  margin: 15px 0 5px;
  font-family: open_sansbold;
  font-size: .75em;
  letter-spacing: -0.4px;
}

p {
  margin: 5px 0 10px;
  font-family: open_sansregular;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
}

li {
  margin: .5em 1em 0;
  font-family: open_sansregular;
  font-size: 1em;
  line-height: 1.2;
  color: #000000;
}

strong {
  font-family: open_sansbold;
  color: #000000;
}

em {
  font-family: open_sansitalic;
  color: #000000;
}

a {
  color: #573d8f;
  text-decoration: none;
}

a:link {
  color: #573d8f;
}

a:visited {
  color: #5387c6;
}

a:active {
  color: #e5007e;
  border-bottom: .2em solid rgba(229, 0 ,126, 1);
}

a:hover {
  color: #a61680;
  border-bottom: .2em solid rgba(166, 22, 128, 1);
}

small {
  font-family: open_sansregular;
  font-size: .75em;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #777;
  color: var(--warm-grey);
}

.instructs {
  margin: 1.5em auto;
  padding: .65em;
  font-family: open_sanslight;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.2px;
  color: #4a4a4a;
  color: var(--greyish-brown);
  background-color: #f7f6f6;
  background-color: var(--white-four);
  border-left: 4px solid #573d8f;
  border-left: 4px solid var(--blueberry);
}

.blockquote-p {
  font-family: open_sanslight;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: #4a4a4a;
  color: var(--greyish-brown);
}

ul.callout {
  margin: 25px auto;
}

ul.callout li {
  font-family: open_sanslight;
  font-size: 1.25em;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: #4a4a4a;
  color: var(--greyish-brown);
}


/*SECTIONS AND BLOCKS*/


header, footer {
  margin: 50px auto 0px;
}

main {
  margin: 0px auto;
}

article {
  padding: 20px auto;
}

hr {
  margin: .5em 0;
}

audio {
  margin: 10px auto;
}


aside:after {
 content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

span.inline-button {
  display: inline-block;
  color: #4a4a4a;
  fill: currentColor;
  padding: 5px 10px;
}

img {
    max-width: 100%;
    /*box-sizing: border-box;*/
}

img.photo-01up {
  margin-top: 10px;
  width: 100%;
  display: block;
  border: 12px solid #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

img.photo-02up {
  width: 100%;
/*  border: 6px solid #fff;*/
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

img.photo-03up {
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

img.photo-02up.zoom-but-md:hover {
/*  border: 6px solid rgba(229,0, 126, .7);*/
  cursor: pointer;
}

img.photo-03up.zoom-but-sm:hover {
/*  border: 4px solid rgba(229,0, 126, 0.7);*/
  cursor: pointer;
}


/*MODAL*/

::backdrop {
  background-color: rgba(112, 0, 82, 0.8);
}

dialog {
  margin: 10px auto;
  max-width: 80%;
  border: none;
  border-radius: .3em;

}

.modal-photo {
  max-width: 100%;
}


/*FLEXBOX*/

.flex {
  display: flex;
}


.cntrd {
  position: relative;
  margin: 0 auto;
}


/*TRANSCRIPT TOGGLE*/

.toggle-me {
  display: block;
  height: 30px;
  margin: 0;
  padding: 9px 16px 2px;
  background: radial-gradient(hsla(259, 40%, 40%, 1), hsla(259, 40%,30%, 1));
  border-radius: 0 0 5px 5px;
  color: #fff;
  cursor: pointer;
  font-size: .75rem;
  text-transform: uppercase;
}

.toggle-me:hover {
  background-color: #666;
  background: radial-gradient(hsla(259, 40%, 30%, 1), hsla(259, 40%,20%, 1));
}

.toggle-me:active {
  background: radial-gradient(#f37f2f, #f54b32);
}

#toggler {
  display: none;
}

#toggler ~ .transcript  {
  height: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #ddd;
  opacity: 0;
  overflow-y: scroll;
  transition: all 1s ease-in-out;
}

#toggler:checked ~ .transcript  {
  height: 250px;
  opacity: 1;
}

.arrow-toggle {
  BACKGROUND: RED;
  color: #fff;
  fill: currentColor;
  transform: rotate(0deg);
  transition: transform 1s;
}

#toggler:checked ~ .arrow-toggle {
  transform: rotate(180deg);
}

.vidbak {
  background-color: #efefef;
  border-bottom: 3px solid #fff;
}

.video-js {
  margin: .5rem auto 0;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: rgba(229,0, 126, 1);
}

figure img {
  max-width: 100%;
  display: block;
  position: relative;
  backface-visibility: hidden;
  transition: opacity 1s, transform .4s;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  display: inline-block;
  background: hsla(327,100%, 45%, 1);
  color: #fff;
  height: 6px;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.3s 0.3s;
}

figcaption h5 {
  width: 100%;
  text-align: center;
  padding: 7px;
/*  border-radius: 2px;*/
  display: inline-block;
  background: hsla(327,100%, 35%, 1);
  color: #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

figure:hover img {
  opacity: 1;
  transform: scale3d(1.1,1.1,1);
}



figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.4s, opacity 0.1s;
}

#zoom01 button {
  margin: 10px 0;
  padding: 10px;
  background: radial-gradient(hsla(259, 40%, 40%, 1), hsla(259, 40%,30%, 1));
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: .75rem;
  text-transform: uppercase;
}


#zoom01 button:hover {
  background-color: #666;
  background: radial-gradient(hsla(259, 40%, 30%, 1), hsla(259, 40%,20%, 1));
}

#zoom01 button:active {
  background: radial-gradient(#f37f2f, #f54b32);
}
