
/*-------------------------------------*\
      #VARIABLES
\*-------------------------------------*/

//Colors
$text-gray: #4A4A4A;
$dark-gray: #636463;
$gray: #9B9B9B;
$light-gray: #dddddd;
$lightest-gray: #efefef;
$white: #ffffff;

$blue: #4F7DB2;
$purple: #4C4086;
$maroon: #922A7D;
$red: #D0021B;
$green: #7ED321;

$radius: 0.3rem;
