body {
  margin: 2rem;
}

img[src$='.svg?sanitize=true'] {
  width: 24px;
}

img[src$='.png'] {
  max-width: 50vw;
}

.image-container {
  text-align: center;
}

#table-of-contents {
  float: right;
  background: lightgray;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 1rem;
  position: sticky;
  top: 1rem;
  max-width: 20%;
  max-height: 90vh;
  overflow-y: scroll;
}

.content {
  padding-right: 25%;
}

/*VIDEO WRAPPERS*/
.vidbak {
  background-color: #efefef;
  border-bottom: 3px solid #fff;
}

.video-js {
  margin: .5rem auto 0;
}


/*TRANSCRIPT TOGGLE*/
.trans-form {
  position: relative;
}

.transcript-icon {
  width: 10px;
  height: 10px;
  margin-right: 0.25em;
  fill: currentColor;
}

.transcript-icon:hover {
  fill: currentColor;
}

.transcript-icon:active {
  fill: currentColor;
}

.toggle-me {
  display: flex;
  align-items: center;
  width: 8em;
  height: 30px;
  margin: 0;
  padding: 0 1em 0 0.5em;
  background-color: #fff;
  border-top: 2px solid hsla(259, 40%, 40%, 0);
  border-bottom: 2px solid hsla(259, 40%, 40%, 0);
  color: #777;
  cursor: pointer;
  font-size: 0.625em;
}

.toggle-me:hover {
  color: hsla(259, 40%, 40%, 1);
  border-top: 2px solid hsla(259, 40%, 40%, 1);
  border-bottom: 2px solid hsla(259, 40%, 40%, 0);
}

.toggle-me:active {
  color: hsla(316, 77%, 37%, 1);
  border-top: 2px solid hsla(316, 77%, 37%, 1);
  border-bottom: 2px solid hsla(316, 77%, 37%, 0);
}

.toggle-me > span {
  padding-left: 0.15em;
}


/*TOGGLE INPUT*/
#toggler ~ .transcript,
#toggler01 ~ .transcript,
#toggler02 ~ .transcript,
#toggler03 ~ .transcript  {
  height: 0;
  padding: 0 0 10px;
  display: none;
  border-bottom: 2px solid #ddd;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}

#toggler:checked ~ .transcript,
#toggler01:checked ~ .transcript,
#toggler02:checked ~ .transcript,
#toggler03:checked ~ .transcript  {
  height: 100%;
  display: block;
  opacity: 1;
}


#toggler:checked ~ .arrow-toggle,
#toggler01:checked ~ .arrow-toggle,
#toggler02:checked ~ .arrow-toggle,
#toggler03:checked ~ .arrow-toggle {
  transform: rotate(90deg);
}
