
/*-------------------------------------*\
      #BASE
\*-------------------------------------*/

*{
  @include boxSizing(inherit);
}

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 10px;
  @include boxSizing(border-box);
}

body{
  margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}

p{
  margin: 0;
}
